@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Ginora Sans Regular';
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: local('Ginora Sans Regular'), url('ginora_sans_regular.otf') format('opentype');
}


/* hide scrollbar for edge and firefox */
* {
    -ms-overflow-style: none;
    /* edge */
    scrollbar-width: none;
    /* firefox */
}

/* hide scrollbar for chrome */
*::-webkit-scrollbar {
    display: none;
}