.blinkingLight {
    -webkit-animation: blinkingFX 1.6s linear infinite;
    animation: blinkingFX 1.6s linear infinite;
}

.blinkingLast {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
}

@keyframes blinkingFX {
    0% {
        -webkit-transform: scale(0, 0);
        transform: scale(0, 0);
        opacity: 0.357;
    }

    50% {
        /* -webkit-transform: scale(1, 1);
        transform: scale(1, 1); */
        opacity: .57;
    }

    100% {
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
        opacity: 0;
    }
}